h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.tolltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tolltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tolltip:hover .tooltiptext {
  visibility: visible;
}
.likeComments {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.likeComments span {
  margin-right: 10px;
}
.corpo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}
.perfilUsuario {
  display: flex;
  align-items: center;
}
.topoInfo {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
}
.detalhePost {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
.detalhePost img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.comentarios {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.comentarios img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.comentario {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  align-items: center;
}
.perfilComentario {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.post {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 20px;
}
.perfil {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}
.containerUsuarios img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.containerUsuarios {
  display: flex;
  justify-content: center;
}
a {
  cursor: pointer;
}
.usuarios {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  color: black;
  padding: 5px;
}

.usuarios:hover {
  background-color: darkgrey;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid silver;
  width: 600px;
  margin-left: 20px;
}
img.picturePost {
  height: 500px;
}
