h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.sendComment i {
  cursor: pointer;
}
.corpo {
  display: flex;
  max-width: 800px;
}

.likeComments {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.like {
  cursor: pointer;
}

.likeComments span {
  margin-right: 10px;
}
.corpo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
}
.perfilUsuario {
  display: flex;
  align-items: center;
  width: 300px;
}
.perfilUsuario p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.perfilUsuario span {
  font-weight: bold;
}
.topoInfo {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
}
.detalhePost {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
.detalhePost img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.comentarios {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.comentarios img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.comentario {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  align-items: center;
}
.perfilComentario {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.post {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 20px;
}
.perfil {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}
.containerUsuarios img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.containerUsuarios {
  display: flex;
  justify-content: center;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.sendComment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usuarios {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  color: black;
  padding: 5px;
}
.usuarios:hover {
  background-color: lightgray;
  border-radius: 5px;
}
.usuariosClick {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  color: black;
  padding: 5px;
  background-color: darkgrey;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid silver;
  width: 600px;
  padding: 10px;
  align-items: center;
}
.container span {
  font-weight: bold;
}
img.picturePost {
  height: 500px;
}
